<html lang="">
<head>
    <style>
            {{  css }}
    </style>
</head>
<body class="bg-white">
<div class="container mx-auto px-10">
    <div class="flex flex-row">
        <div class="basis-1/2">
            <div>
                <h1 class="text-2xl py-5">
                    Invoice
                </h1>
                <h4>Bill To:</h4>
                <p>Execor Inc</p>
                <p>271 Ridley Road</p>
                <p>St. Catherines, Ontario</p>
                <p>L2R 6P7</p>
            </div>
        </div>
        <div class="basis-1/2">
            <h1 class="text-2xl py-5">DUE UPON RECEIPT</h1>
            <div class="flex flex-row">
                <div class="basis-1/2">
                    <p class="font-bold">Invoice Date:</p>
                    <p class="font-bold">Invoice Number:</p>
                    <p class="font-bold">Due Date:</p>
                    <p class="font-bold">Subtotal:</p>
                    <p class="font-bold">Discount:</p>
                    <p class="font-bold">GST:</p>
                </div>
                <div class="basis-1/2">
                    <p>{{ due_date }}</p>
                    <p>{{ invoice_number }}</p>
                    <p>{{ due_date }}</p>
                    <p>{{ subtotal }}</p>
                    <p>{{ discount }}</p>
                    <p>{{ gst }}</p>
                </div>
            </div>
            <hr class="solid">
            <div class="flex flex-row">
                <div class="basis-1/2">
                    <h2
                            class="font-bold text-xl">
                        Total Due:
                    </h2>
                </div>
                <div class="basis-1/2">
                    <h2
                            class="font-bold text-xl">
                        {{ total }}
                    </h2>
                </div>
            </div>


        </div>
    </div>
    <div class="flex flex-row">
        <div class="basis-1/2">
            <h5>Action Transportation Group:</h5>
            <p><div class="font-bold">Phone: </div>780.955.3812</p>
            </table>
        </div>

    </div>
</div>
</body>
</html>